
#####################################################################
#      Master ID Configuration
#####################################################################
[mcu SHT36]  # Tool board serial number
## CAN ID
## ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid: bb42c5ff7518

#####################################################################
#      Temperature monitoring
#####################################################################
[temperature_sensor SHT36]
sensor_type: temperature_mcu
sensor_mcu: SHT36

#####################################################################
#      Accelerometer
#####################################################################
## https://www.klipper3d.org/Measuring_Resonances.html?h=adxl#adxl345
# [lis2dw]
# cs_pin: SHT36:gpio12
# spi_bus:spi0_gpio4_gpio3_gpio2
# #--------------------------------------------------------------------
# [resonance_tester]
# accel_chip: lis2dw
# probe_points: 150, 150, 20
# # Somewhere slightly above the middle of your print bed
# min_freq: 5
# max_freq: 133
# accel_per_hz: 75
# hz_per_sec: 1 

#####################################################################
#      Stealthburner LED
#####################################################################
## https://github.com/VoronDesign/Voron-Stealthburner/tree/main
# [neopixel sb_leds]
# pin: SHT36:gpio26
# chain_count: 3
# # Number of LEDs
# color_order: GRB
# initial_RED: 0.4
# initial_GREEN: 0.8
# initial_BLUE: 1
# initial_WHITE: 0.0

#####################################################################
#      Extruder thermal sensitivity
#####################################################################
## Please select the type of thermocouple you want to use.
[extruder]
## Type of sensor - common thermistors are (Generic 3950, ATC Semitec 104GT-2)
sensor_type: ATC Semitec 104GT-2
sensor_pin: SHT36:gpio27
cooling_fan: fan
ambient_temp_sensor: temperature_sensor chamber
filament_density: 1.2
filament_heat_capacity: 1.8
heater_power: 60
control: mpc
block_heat_capacity: 12.2851 
sensor_responsiveness: 0.105775
ambient_transfer: 0.119508
fan_ambient_transfer: 0.119148, 0.143398, 0.152134
step_pin: SHT36:gpio7
dir_pin: !SHT36:gpio6
enable_pin: !SHT36:gpio14
rotation_distance: 22.8571214
## Calibration: 22.44 = old value 22 * actual value 102 / target value 100
gear_ratio: 50:10
## Gear ratio (Galileo 7.5:1 and comment this line; BMG is 50:17, output shaft front, input shaft rear)
microsteps:16
full_steps_per_rotation: 200   
nozzle_diameter:0.400
filament_diameter:1.75
heater_pin:SHT36:gpio23
min_temp:-200
max_temp:350
max_power:1.0
min_extrude_temp:-200
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
#max_extrude_only_distance: 200.0   # If extrusion flow error, comment this, but it's recommended to re-slice

[tmc2209 extruder]
uart_pin:SHT36:gpio15
interpolate:False
run_current: 0.5
sense_resistor:0.110
stealthchop_threshold:0
###------------------------------------------------------------------
[verify_heater extruder]
max_error: 20
check_gain_time:120
hysteresis: 50
heating_gain: 2

#####################################################################
#      FAN
#####################################################################
[fan]
pin:SHT36:gpio21
###------------------------------------------------------------------
[heater_fan my_hotend_fan]
pin: SHT36:gpio13
heater: extruder
heater_temp: 50.0
tachometer_pin: SHT36:gpio16
tachometer_poll_interval: 0.00004

#####################################################################
#      TAP && PL08N && BLTOUCH 
#####################################################################
[stepper_x]
endstop_pin: ^SHT36:gpio20

#####################################################################
#      MPC Material
#####################################################################

[gcode_macro _SET_MPC_MATERIAL]
description: Set heater MPC parameters for a given material
variable_filament_table:
    ## Update this table to adjust material settings
    {
        ## ( density, heat capacity )  # suggested heat capacity range
        "PLA"       : ( 1.25, 2.20 ),  # 1.80 - 2.20
        "PETG"      : ( 1.27, 2.20 ),  # 1.70 - 2.20
        "PC+ABS"    : ( 1.15, 2.20 ),  # 1.50 - 2.20
        "ABS"       : ( 1.06, 2.40 ),  # 1.25 - 2.40
        "ASA"       : ( 1.07, 2.10 ),  # 1.30 - 2.10
        "PA6"       : ( 1.12, 2.50 ),  # 2.00 - 2.50
        "PA"        : ( 1.15, 2.50 ),  # 2.00 - 2.50
        "PC"        : ( 1.20, 1.90 ),  # 1.10 - 1.90
        "TPU"       : ( 1.21, 2.00 ),  # 1.50 - 2.00
        "TPU-90A"   : ( 1.15, 2.00 ),  # 1.50 - 2.00
        "TPU-95A"   : ( 1.22, 2.00 ),  # 1.50 - 2.00
        "ABS-CF"    : ( 1.11, 2.40 ),  # 1.25 - 2.40
        "ASA-CF"    : ( 1.11, 2.10 ),  # 1.30 - 2.10
        "PA6-CF"    : ( 1.19, 2.50 ),  # 2.00 - 2.50
        "PC+ABS-CF" : ( 1.22, 2.20 ),  # 1.50 - 2.20
        "PC+CF"     : ( 1.36, 1.90 ),  # 1.10 - 1.90
        "PLA-CF"    : ( 1.29, 2.20 ),  # 1.80 - 2.20
        "PETG-CF"   : ( 1.30, 2.20 ),  # 1.70 - 2.20
    }
gcode:
    {% set material = params.MATERIAL | upper %}
    {% set heater = params.HEATER | default('extruder') %}
    {% set extruder_config = printer.configfile.settings[heater] %}

    {% if material in filament_table %}
        {% set (density, heat_capacity) = filament_table[material] %}

        RESPOND PREFIX=🔥 MSG="Configured {heater} MPC for {material}. Density: {density}, Heat Capacity: {heat_capacity}"
    {% else %}
        {% set density = extruder_config.filament_density %}
        {% set heat_capacity=extruder_config.filament_heat_capacity %}

        RESPOND PREFIX=🔥 MSG="Unknown material '{material}', using default mpc parameters for {heater}"
    {% endif %}

    MPC_SET HEATER={heater} FILAMENT_DENSITY={density} FILAMENT_HEAT_CAPACITY={heat_capacity}


#####################################################################
#      TAP && PL08N && BLTOUCH 
#####################################################################
## https://www.klipper3d.org/Config_Reference.html?h=probe#probe
# [probe]
# pin: ^SHT36:gpio22
# x_offset: 0
# y_offset: 25.0
# z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 4.0
# samples_tolerance: 0.010
# samples_tolerance_retries: 3
#--------------------------------------------------------------------
## https://www.klipper3d.org/Config_Reference.html?h=probe#bltouch
#[bltouch]
#sensor_pin: ^SHT36:gpio22    # Signal interface
#control_pin: SHT36:gpio24    # Servo control
#x_offset: -26.1              # X-axis sensor offset relative to nozzle, determine offset yourself
#y_offset: -15.3              # Y-axis sensor offset relative to nozzle, determine offset yourself
#z_offset: 2.1                # Z-axis sensor offset relative to nozzle, determine offset yourself



# ## EXTRUDER 
# [extruder]
# step_pin: can0:EXT_STEP
# dir_pin: !can0:EXT_DIR
# enable_pin: !can0:EXT_EN
# #rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
# #rotation_distance: 5.64015    # See calibrating rotation_distance on extruders doc
# #gear_ratio: 50:10                                                   # For Mini Afterburner
# rotation_distance: 22.8571214 #for 5mm Shaft Driven Bondtech gearsets
# gear_ratio: 50:10 
# microsteps: 16
# full_steps_per_rotation: 200 #1.8deg Motor
# max_extrude_only_distance: 1400.0
# max_extrude_only_velocity: 75.0
# max_extrude_only_accel: 1500
# max_extrude_cross_section: 5
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: can0:HE0
# sensor_pin: can0:TH0
# sensor_type: ATC Semitec 104NT-4-R025H42G #PT1000  # this is the default for the Revo heater
# #pullup_resistor: 2200             # this is the default for the Revo heater
# control: pid
# pid_Kp: 25.586
# pid_Ki: 2.546
# pid_Kd: 64.285
# min_temp: -260
# max_temp: 350
# pressure_advance: 0.025
# pressure_advance_smooth_time: 0.020

# ## EXTRUDER MOTOR
# [tmc2209 extruder]
# uart_pin: can0:EXT_UART
# stealthchop_threshold: 0
# run_current: 0.5
# sense_resistor: 0.110

# ## ADXL345
# [adxl345]
# cs_pin: can0:ADXL_CS
# spi_software_sclk_pin: can0:ADXL_SCLK
# spi_software_mosi_pin: can0:ADXL_MOSI
# spi_software_miso_pin: can0:ADXL_MISO
# axes_map: x,y,z

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     90,90,20  # an example for a 350mm printer
# accel_per_hz: 100
# hz_per_sec: 0.5

# ## RGB
# #[neopixel my_neopixel]
# #pin: can0:RGBLED
# #chain_count: 12
# #color_order: GRB
# #initial_RED: 0.0
# #initial_GREEN: 0.0
# #initial_BLUE: 0.0

# ## PT100
# # [temperature_sensor PT100]
# # sensor_type: MAX31865
# # sensor_pin: can0:PT100_CS
# # spi_bus: spi1
# # min_temp: -50
# # max_temp: 350
# # rtd_reference_r: 430

